<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}">Name</p>
    <p th:text="${skintype}">Skin Type</p>
    <p th:text="${manipedi}">ManiPedi</p>
</div>
<div id = "servicesMenu">
    <table>
        <thead><tr>Appropriate Facials</tr></thead>
        <th:block th:each="service: ${appropriateFacials}">
               <tr> <td th:text="${service}"></td></tr>
        </th:block>
    </table>
</div>
</body>
</html>